<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="UaApplicationConfiguration" type="UnifiedAutomation.UaBase.ApplicationConfigurationSection,UnifiedAutomation.UaBase"/>
  </configSections>
  <UaApplicationConfiguration>

    <SecuredApplication xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://opcfoundation.org/UA/2011/03/SecuredApplication.xsd" xmlns:ua="http://opcfoundation.org/UA/2008/02/Types.xsd">

      <!-- Identify the Application -->
      <ApplicationName>UnifiedAutomation GettingStartedServer</ApplicationName>
      <ApplicationUri>urn:localhost:UnifiedAutomation:UaGettingStartedServerNet</ApplicationUri>
      <ApplicationType>Server_0</ApplicationType>

      <!-- Specify location of Certificates and Trust Lists -->
      <ApplicationCertificate>
        <StoreType>Directory</StoreType>
        <StorePath>%CommonApplicationData%\unifiedautomation\UaSdkNetBundlePubSubEval\pkiserver\own</StorePath>
        <SubjectName>CN=GettingStartedServer/O=UnifiedAutomation/DC=localhost</SubjectName>
      </ApplicationCertificate>
      <TrustedCertificateStore>
        <StoreType>Directory</StoreType>
        <StorePath>%CommonApplicationData%\unifiedautomation\UaSdkNetBundlePubSubEval\pkiserver\trusted</StorePath>
      </TrustedCertificateStore>
      <IssuerCertificateStore>
        <StoreType>Directory</StoreType>
        <StorePath>%CommonApplicationData%\unifiedautomation\UaSdkNetBundlePubSubEval\pkiserver\issuers</StorePath>
      </IssuerCertificateStore>
      <RejectedCertificatesStore>
        <StoreType>Directory</StoreType>
        <StorePath>%CommonApplicationData%\unifiedautomation\UaSdkNetBundlePubSubEval\pkiserver\rejected</StorePath>
      </RejectedCertificatesStore>

      <!-- Specify Endpoints the Server will use -->
      <BaseAddresses>
        <BaseAddress>opc.tcp://localhost:48030</BaseAddress>
      </BaseAddresses>

      <!-- Specify the SecurityProfiles the Server supports -->
      <SecurityProfiles>
        <SecurityProfile>
          <ProfileUri>http://opcfoundation.org/UA/SecurityPolicy#Basic256Sha256</ProfileUri>
          <Enabled>true</Enabled>
        </SecurityProfile>
        <SecurityProfile>
          <ProfileUri>http://opcfoundation.org/UA/SecurityPolicy#Aes128_Sha256_RsaOaep</ProfileUri>
          <Enabled>true</Enabled>
        </SecurityProfile>
        <SecurityProfile>
          <ProfileUri>http://opcfoundation.org/UA/SecurityPolicy#Aes256_Sha256_RsaPss</ProfileUri>
          <Enabled>true</Enabled>
        </SecurityProfile>
        <SecurityProfile>
          <!-- This SecurityProfile is enabled for testing purposes. It shall NOT be enabled in end user products. -->
          <ProfileUri>http://opcfoundation.org/UA/SecurityPolicy#None</ProfileUri>
          <Enabled>true</Enabled>
        </SecurityProfile>
      </SecurityProfiles>

      <!-- Specify Configuration for Different Components (Can include 'YourCompany' Configuration) -->
      <Extensions>

        <!-- Specify the Trace Settings for the Application -->
        <Extension>
          <TraceSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd" MasterTraceEnabled="false" DefaultTraceLevel="Info">
            <TraceFile>%CommonApplicationData%\unifiedautomation\logs\UaSdkNetBundlePubSubEval\UaGettingStartedServerNet.log.txt</TraceFile>
            <MaxEntriesPerLog>100000</MaxEntriesPerLog>
            <MaxLogFileBackups>3</MaxLogFileBackups>
            <ModuleSettings>
              <ModuleTraceSettings ModuleName="UnifiedAutomation.Stack"/>
              <ModuleTraceSettings ModuleName="UnifiedAutomation.Server"/>
            </ModuleSettings>
          </TraceSettings>
        </Extension>

        <!-- Specify Settings when EXE is run with the /install argument -->
        <Extension>
          <InstallationSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
            <GenerateCertificateIfNone>true</GenerateCertificateIfNone>
            <DeleteCertificateOnUninstall>true</DeleteCertificateOnUninstall>
          </InstallationSettings>
        </Extension>

        <!-- Specify Settings for the ServerManager -->
        <Extension>
          <ServerSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
            <ProductName>UnifiedAutomation GettingStartedServer</ProductName>
            <DiscoveryRegistration>
              <Enabled>false</Enabled>
            </DiscoveryRegistration>
          </ServerSettings>
        </Extension>

        <Extension>
          <SessionSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
            <MaxSessionCount>100</MaxSessionCount>
          </SessionSettings>
        </Extension>

        <!-- Specify Settings for the SubscriptionManager -->
        <Extension>
          <SubscriptionSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
            <MaxSubscriptionCount>500</MaxSubscriptionCount>
          </SubscriptionSettings>
        </Extension>

      </Extensions>
    </SecuredApplication>
  </UaApplicationConfiguration>
</configuration>