<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="UnifiedAutomation.UaBase" version="4.2.1" targetFramework="net481" />
  <package id="UnifiedAutomation.UaServer" version="4.2.1" targetFramework="net481" />
   <package id="UnifiedAutomation.UaBase.Windows" version="4.2.1" targetFramework="net481" />
</packages>